@page
@model TravelGuideApp.Pages.TouristicSite.IndexModel
@{
}
<div class="container d-flex justify-content-center">
    <div class="row">
        @foreach (var item in Model.TSList)
        {
            <div class="col-md-4">

                <div class="card">
                    <div> <img src="@item.Url" class="img-responsive image"> </div>
                    <p class="rating">9.2</p>
                    <div class="card-body">
                        <h5 class="card-title">@item.Name</h5>
                        <p class="card-text"><i class="fa fa-map-marker marker"></i> @item.Address.country,@item.Address.city, @item.Address.address</p>
                        <p class="card-text">
                            Since : @item.YearsOfSeniority
                        </p>
                        <a class="btn btn-primary btn-md mr-1 mb-2" asp-page="/TouristicSite/TSDetails" asp-route-tsid="@item.Id">Details</a>

                    </div>

                </div>

            </div>
        }

    </div>
</div>